
    /* HEADER */
    .ue-header {
        font-family: sans-serif;
        border-bottom: 1px solid #ddd;
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        /* centra el contenido */
        gap: 40px;
        padding: 20px;
        max-width: 1200px;
        /* ancho controlado */
        margin: 0 auto;
        /* centra el bloque */
    }


    .logo img {
        height: 80px;
    }

    .nav-links {
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: #222;
        font-weight: 500;
    }

    /* CONTENT */
    .content {
        max-width: 1000px;
        margin: 40px auto;
        padding: 0 20px;
    }

    h1 {
        margin-bottom: 30px;
    }

    .content h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    /* NEWS CARD */
    .news-card {
        display: flex;
        gap: 25px;
        background: #f9f9f9;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
    }

    .news-card img {
        width: 300px;
        border-radius: 8px;
        object-fit: cover;
    }

    .news-text h2 {
        margin: 0 0 10px;
    }

    .news-text p {
        margin: 0;
        color: #555;
        line-height: 1.5;
    }

    /* RESPONSIVE */
    @media (max-width: 768px) {
        .news-card {
            flex-direction: column;
            text-align: center;
        }

        .news-card img {
            width: 100%;
        }
    }