/* HEADER */

.ue-header {
    font-family: sans-serif;
    border-bottom: 1px solid #ddd;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* centra el contenido */
    gap: 40px;
    padding: 20px;
    max-width: 1200px;
    /* ancho controlado */
    margin: 0 auto;
    /* centra el bloque */
}


.logo img {
    height: 80px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

/* CONTENT */
.content {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

h1 {
    margin-bottom: 30px;
}

.content h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* NEWS CARD */
.news-card {
    display: flex;
    gap: 25px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

.news-card img {
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.news-text h2 {
    margin: 0 0 10px;
}

.news-text p {
    margin: 0;
    color: #555;
    line-height: 1.5;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .news-card {
        flex-direction: column;
        text-align: center;
    }

    .news-card img {
        width: 100%;
    }
}
/* =========================
   CALENDARIO DE EVENTOS
========================= */

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.nav button {
    padding: 6px 12px;
    cursor: pointer;
}

#tituloMes {
    margin: 0;
}

/* GRID del calendario */
.cal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    max-width: 700px;
    margin: 0 auto;
}

/* cabecera días */
.cal .header {
    text-align: center;
    font-weight: bold;
    background: #eee;
    padding: 10px 0;
    border-radius: 4px;
}

/* celdas vacías */
.cal > div {
    min-height: 45px;
}

/* día normal */
.dia {
    border: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    border-radius: 6px;
    background: #fafafa;
}

/* día con evento */
.dia.ocupado {
    background: #d6001c;
    color: white;
    font-weight: bold;
}

/* hover */
.dia:hover {
    background: #ccc;
}
